<h2>Hey there, <%= @user.username %></h2>
<% if @user.posts %>
<div class="container">
	<h3>Here's everything we've evaluated for you:</h3>
		<% @user.posts.each do |post| %>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<p>Post ID: <a class="post-pointer" href="/posts/<%= post.id %>"><%= post.id %></a></p>
				<p><strong>User Input:</strong></p>
				<p><%= post.body %></p>
				<p><strong>Alchemy's Analysis:</strong> <%= post.analysis %></p>
	</div>
	<div class="col-xs-1"></div>
	</div>
		<% end %>
</div>

<% else %>
<h2>You haven't done anything yet!</h2>
<p>Go <a href="/posts/new">here</a> to have some text analyzed</p>
<% end %>